body {
    margin: 0;
}

form[id^="mw"], #editform {
    display: block;
}

.printfooter {
    font-size: xx-small;
    opacity: 0.5;
}

.actions {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;

    .actions-side {
        display: flex;
        margin: 0;
        padding: 0;

        gap: 8px;
    }

    .actions-left {
        margin-right: auto;
    }

    .actions-right {
        margin-left: auto;
    }

    li {
        display: block;
        margin: 0;
    }
}