<div class="bluelib theme-bluelib">

    {{! Wiki title }}
    <h1 id="site-title">
        <a href="{{link-mainpage}}">
            {{msg-sitetitle}}
        </a>
    </h1>

    <div class="layout layout-threecol">

        <aside class="layout-threecol-left">
            <section class="panel panel-box" id="search">
                {{#data-search-box}}
                    <form action="{{form-action}}">
                        <label for="searchInput">
                            {{msg-search}}
                        </label>
                        {{{html-input}}}
                        <div class="form-row">
                            {{{html-button-search}}}
                        </div>
                    </form>
                {{/data-search-box}}
            </section>
            <section class="panel panel-box">
                {{#data-portlets-sidebar}}
                    {{#data-portlets-first}}
                        {{>Portlet}}
                    {{/data-portlets-first}}
                {{/data-portlets-sidebar}}
                <hr class="separator-light"/>
                {{#data-portlets-sidebar}}
                    {{#array-portlets-rest}}
                        {{>Portlet}}
                    {{/array-portlets-rest}}
                {{/data-portlets-sidebar}}
            </section>
        </aside>

        <main class="main layout-threecol-center">
            <section class="panel panel-box" id="page-actions">
                <div class="actions">
                    {{#data-portlets}}
                        <ul class="actions-side actions-left">
                            {{#data-views}}
                                {{{html-items}}}
                            {{/data-views}}
                        </ul>
                        <ul class="actions-side actions-right">
                            {{#data-actions}}
                                {{{html-items}}}
                            {{/data-actions}}
                        </ul>
                    {{/data-portlets}}
                </div>
            </section>
            <section class="panel panel-box" id="page-body">
                <h1 id="page-title">
                    {{{html-title}}}
                </h1>
                <h2 id="page-subtitle">
                    {{{html-subtitle}}}
                </h2>
                <section id="page-content">
                    {{{html-body-content}}}
                </section>
                <section class="panel" id="page-categories">
                    {{{html-categories}}}
                </section>
                <section class="panel" id="page-after-content">
                    {{{html-after-content}}}
                </section>
            </section>
        </main>

        <aside class="layout-threecol-right">

            {{#data-portlets}}
                {{#data-languages}}
                    <section class="panel panel-box">
                        <h3>
                            Languages
                        </h3>
                        {{>Portlet}}
                    </section>
                {{/data-languages}}
            {{/data-portlets}}

            {{#data-portlets}}
                {{#data-languages}}
                    <section class="panel panel-box">
                        <h3>
                            Preferences
                        </h3>
                        {{>Portlet}}
                    </section>
                {{/data-languages}}
            {{/data-portlets}}

            {{#data-portlets}}
                {{#data-user-page}}
                    <section class="panel panel-box">
                        <h3>
                            User page
                        </h3>
                        {{>Portlet}}
                    </section>
                {{/data-user-page}}
            {{/data-portlets}}

            {{#data-portlets}}
                {{#data-user-menu}}
                    <section class="panel panel-box">
                        <h3>
                            User menu
                        </h3>
                        {{>Portlet}}
                    </section>
                {{/data-user-menu}}
            {{/data-portlets}}

            {{#data-portlets}}
                {{#data-notifications}}
                    <section class="panel panel-box">
                        <h3>
                            Notifications
                        </h3>
                        {{>Portlet}}
                    </section>
                {{/data-notifications}}
            {{/data-portlets}}

            {{#data-portlets}}
                {{#data-namespaces}}
                    <section class="panel panel-box">
                        <h3>
                            Namespaces
                        </h3>
                        {{>Portlet}}
                    </section>
                {{/data-namespaces}}
            {{/data-portlets}}

            {{#data-portlets}}
                {{#data-variants}}
                    <section class="panel panel-box">
                        <h3>
                            Variants
                        </h3>
                        {{>Portlet}}
                    </section>
                {{/data-variants}}
            {{/data-portlets}}

        </aside>
    </div>
</div>